@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div id="user-guide">
                <h1>User Guide</h1>
                <p>You can either analyze plain text or analyze existing content of web page.</p>
                <p>Additional analysis option are available for <strong>Web content analysis.</strong></p>
                <p>Analysis works only for <strong>English</strong> resources.</p>
                <p> Words that are shorter than <strong>3 symbols</strong> or <strong>contain digits/special characters</strong> or exist in <strong>Stop Word list</strong> will be omitted.</p>
                <p>
                    Stop Words list is integrated in the app.
                    Stop Words list source:
                    <strong><a href="https://github.com/6/stopwords-json/blob/master/dist/en.json">https://github.com/6/stopwords-json/blob/master/dist/en.json</a></strong>
                </p>
                <p>If the analysis is successful, you will receive the data in table/s.</p>
                <p>You can sort by keyword or by frequency.</p>
                <p>If something goes wrong the app will notify you.</p>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4  col-md-offset-4">
                        <a href="/" class="btn btn-primary btn-lg">Go to Analyzer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
